section{
  width:100%;
  height:92.3vh;
  padding:15px;
  margin:0;
  background-image: url('img/Fondo.png');
  color: #dcdde1;

  display:none;
  justify-content:center;
  align-items: center;
  text-align:center;
}