@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
/*font-family: 'Pathway Gothic One', sans-serif;*/
/*
//https://codepen.io/MijeongLee/pen/LYEXMzR
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 200px; 
    height: 700px; 
    background: #ffeee4;
}
nav a {
    float: left;
    color: #fab68e;
    font-size: 17px;
    padding: 10%;
}

nav a:hover {
    color: black;
    text-decoration-line: underline;
    text-decoration-color: red;
}

nav a.actual {
    background-color: #ccc;
    font-weight: bold;
    color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*/
body {
  /*background-color: #Ffeee3; */
}
/* INICIO */
.container {
  background-image: url('img/fondo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*.container{
  width:100%;
  height:92.3vh;
  padding:15px;
  background-image: url('img/fondo.png');
}* /

/* MISIÓN */
.container2{
  background: #Ffeee3;
  width:100%;
  height:92.3vh;
}

h2{
  color: #DB9D78;
  font-family: 'Open Sans', sans-serif;;
  font-size: 30px;
  margin-top: 5%;
  margin-left: -1%;
}
.rectangulo{
  width: 100%;
  text-align: center;
  height: 10%;
}

.rectangulo2{
  width: 100%;
  text-align: center;
  height: 90%;
  margin-left: -1%;
  margin-top: 2%;
}
.rectangulo3{
  width: 100%;
  text-align: center;
  height: 10%;
  margin-top: -30%;
  display: flex;
}
.personasTexto{
  width: 30%;
  margin-right: 10%;
  margin-left: 5%;
  color: #DB9D78;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;;
}
.cruzTexto{
  width: 30%;
  margin-right: 8%;
  margin-left: 5%;
  color: #DB9D78;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;;
}
.casaTexto{
  width: 30%;
  margin-right: 8%;
  margin-left: 5%;
  color: #DB9D78;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;;
 
}
.personas{
  width:5%;
  height:90%;
  float:left;
  margin-left:13%;
  margin-right: 20%;
  margin-top: 5%;
}

.cruz{
  width:5%;
  height:90%;
  float:left;
  margin-left:10%;
  margin-right: 20%;
  margin-top: 5%;
  
}

.casa{
  width:5%;
  height:65%;
  float:left;
  margin-left: 8%;
  margin-right: 10%;
  margin-top: 5%;
}

/* ADOPTA GATITOS*/
#kittens {
  background-color: #Ffeee3;
  padding: 40px 0;
  
  h2 {
    text-align: center;
  }
}
.gatitos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  position: center;

  }

.prueba{
  width:75%;
  height:160%;
  float:left;
  margin-left:30%;
  margin-right: 20%;
  margin-top: 5%;
  
}
}
/* NAV */
h1{
  font-family: 'Open Sans', sans-serif;
  color: #fab68e;
  font-size: 20px;
}
.menu{
  background-color:#d886568;
  z-index: -3;
  margin-top:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  
}

 
header{
  display:flex
  background-color : orange
}
.logo{
  /*background-position: right bottom;*/
  z-index: 3;
  position: absolute;
  margin-top: 0 px;
  margin-bottom: 90%;
  margin-right: 0 px; 
  margin-left: 85%;
}
.logo img{
  height: 50px
  
}
.links .link {
    display: inline-block;
}

.links .link a {
    text-decoration: none;
    color: #fab68e;
    font-size: 20px;
    margin: 0.5px;
    letter-spacing: 2px;
    transition: .3s;
    padding: 10px;
}

.links .link {
    color: #d886568;
    margin: 10px 30px;
    font-size: 0.5rem;
    background-image: linear-gradient(90deg, #d88656, #db9d78, #fab68d);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 700ms ease-in-out; 
    font-family: 'Open Sans', sans-serif;
}

.links .link:hover {
    background-size: 100% 2px;
}


.toggle {
    color: black;
    margin-right: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    rotate: 90deg;
    z-index: 7;
}

.rotate {
    transform: rotate(90deg);
}

@media screen{
    .toggle {
        display: inline-block;
    }

    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #ffeee4;
        text-align: left;
        overflow: hidden;
        height: 100vh;
        width: 20%;
        z-index: 5;
        top: -100vh;
        margin-top: -40px;
        transition: .5s;
        box-shadow: 2.5px 2.5px 2.5px grey;
    }

    .active {
        top: 80px;
    }
  ul{
    list-style-type: none;
  }
}
footer{
  background-color:grey;
  position:bottom;
  
}
