{% extends 'base.html' %}
<body>
{% block content %}
  <h1> Conoce a nuestros Felinos! </h1>
  <div class="fila">
        <div class="columna">
            <img src="https://picsum.photos/800/600">
        </div>
        <div class="columna">
            <img src="https://picsum.photos/800/600">
        </div>
        <div class="columna">
            <img src="https://picsum.photos/800/600">
        </div>
    </div>
    <div class="fila">
        <div class="columna">
            <img src="https://picsum.photos/800/600">
        </div>
        <div class="columna">
            <img src="https://picsum.photos/800/600">
        </div>
        <div class="columna">
            <img src="https://picsum.photos/800/600">
        </div>
    </div>
{% endblock content %}
</body>
