{% extends 'base.html' %}
{% block content %}
<div id="kittens">
    <div class="adoptaGatosRectangulo">
      <h2>Meet our kittens</h2>
      <hr class="line-break" />
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card z-depth-3">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=1">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Dolly<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Dolly<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem et nesciunt neque magnam consequatur, at, soluta iure commodi reiciendis fugit! Necessitatibus laudantium ducimus suscipit sequi. Hic quibusdam praesentium atque.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card z-depth-3">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=5">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Blink<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Blink<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut mollitia aliquam beatae facere nihil et voluptatum veniam, exercitationem incidunt reprehenderit? Numquam perspiciatis, esse placeat fugit quod enim voluptas sunt ullam.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card z-depth-3">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=3">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Dodger<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Dodger<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate magni quia praesentium velit atque illo, sint maxime mollitia voluptatibus modi quam, error, tempore, magnam veniam ex nihil enim repellat.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card z-depth-3">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=4">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Molly<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Molly<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem optio, natus culpa consequuntur quasi quidem tempora aliquam eos! Nam molestiae error fugiat unde. Commodi voluptate porro, dolores doloribus sapiente quod!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card z-depth-3 hide-on-small-only">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=9">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Perry<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Perry<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem optio, natus culpa consequuntur quasi quidem tempora aliquam eos! Nam molestiae error fugiat unde. Commodi voluptate porro, dolores doloribus sapiente quod!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card z-depth-3 hide-on-small-only">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=6">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Adam<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Adam<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem optio, natus culpa consequuntur quasi quidem tempora aliquam eos! Nam molestiae error fugiat unde. Commodi voluptate porro, dolores doloribus sapiente quod!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card z-depth-3 hide-on-small-only">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=7">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chase<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Chase<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem optio, natus culpa consequuntur quasi quidem tempora aliquam eos! Nam molestiae error fugiat unde. Commodi voluptate porro, dolores doloribus sapiente quod!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card z-depth-3 hide-on-small-only">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://placekitten.com/200/200?image=8">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Berry<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Berry<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem optio, natus culpa consequuntur quasi quidem tempora aliquam eos! Nam molestiae error fugiat unde. Commodi voluptate porro, dolores doloribus sapiente quod!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% endblock content %}