{% extends 'base.html' %}
<body>
  <div class="parte1">
    <div class="rectangulo">
          <div calss="adoptar">
              <h2>Nuestra Misión</h2>
              <hr color= "#DB9D78" size=2 width="1185px">
          </div>
    </div>
    <div class="rectangulo2">
          <div calss=""> 
            <img class="personas" src="{{ url_for('static', filename='img/iconoPersonas.png') }}" alt="" class="imagen.iconoPersonas">
            <img class="cruz" src="{{ url_for('static', filename='img/iconoCruz.png') }}" alt="" class="imagen.iconoCruz">
            <img class="casa" src="{{ url_for('static', filename='img/iconoCasa.png') }}" alt="" class="imagen.iconoCasa">
          </div>
    </div>

    <div class="rectangulo3"> 
      <p>personas</p>
      <p>cruz</p>
      <p>casa</p>
    </div>
    
  </div>
</body>
