{% extends 'base.html' %}
<body>
  <div class="parte1">
    <div class="rectangulo">
          <div calss="adoptar">
            <img class="personas" src="{{ url_for('static', filename='img/iconoPersonas.png') }}">
            <button name="button">Adoptame</button>
          </div>
    </div>
    
    <div class="rectangulo2">
        <div calss="datos">
          
        </div>
    </div>

     <div class="rectangulo3">
        <div calss="informacionAdicional">
          
        </div>
    </div>
  
  </div>
</body>
