{% extends 'base.html' %}
{% block content %}
<div id="kittens">
    <div class="adoptaGatosRectangulo">
      <h2>Meet our kittens</h2>
      <hr class="line-break" />
      <div class = "gatitos">
        <div class= "rectanguloGato" >
          <img class="prueba" src="{{ url_for('static', filename='img/GatitoPrueba.jpg') }}">
          <div class="textoG">caca</div>
        </div>
        <div class= "rectanguloGato" >
          <img class="prueba" src="{{ url_for('static', filename='img/GatitoPrueba.jpg') }}">
          <div>
            caca
          </div>
        </div>
        <div class= "rectanguloGato" >
          <img class="prueba" src="{{ url_for('static', filename='img/GatitoPrueba.jpg') }}">
          <div class="textoG">caca</div>
        </div>
                <div class= "rectanguloGato" >
          <img class="prueba" src="{{ url_for('static', filename='img/GatitoPrueba.jpg') }}">
          <div>
            caca
          </div>
        </div>
                <div class= "rectanguloGato" >
          <img class="prueba" src="{{ url_for('static', filename='img/GatitoPrueba.jpg') }}">
          <div>
            caca
          </div>
        </div>
                <div class= "rectanguloGato" >
          <img class="prueba" src="{{ url_for('static', filename='img/GatitoPrueba.jpg') }}">
          <div>
            caca
          </div>
        </div>
                <div class= "rectanguloGato" >
          <img class="prueba" src="{{ url_for('static', filename='img/GatitoPrueba.jpg') }}">
          <div>
            caca
          </div>
        </div>
      </div>
    </div> 
</div>
 {% endblock content %}