<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='style.css') }}">
</head>

{% block nav %}
<nav class="menu">
    <div class= "toggle">
     |||
    </div>
  <ul class="links">
    <li class= "link"><a href="{{ url_for('Inicio') }}">Inicio</a</li>
    <li class= "link"><a href="{{ url_for('AdoptaGatos') }}">Adopta Gatos</a</li>
    <li class= "link"><a href="{{ url_for('AdoptaPerros') }}"">Adopta Perros</a</li>
    <li class= "link"><a href="{{ url_for('Refugio') }}">Refugio</a</li>
  </ul>

</nav>
{% endblock %}
  
<body>
 
  {% block titulo %}{% endblock %}
</script>
  <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>
</html>
//https://codepen.io/MijeongLee/pen/LYEXMzR