{% extends 'base.html' %}
<body>
  {% block content %}
    <div class="container2">
      <div class="rectangulo">
            <div calss="mision">
                <h2>Nuestra Misión</h2>
            </div>
      </div>
      <div class="rectangulo2">
            <div calss="mision2"> 
              <img class="personas" src="{{ url_for('static', filename='img/iconoPersonas.png') }}">
              <img class="cruz" src="{{ url_for('static', filename='img/iconoCruz.png') }}">
              <img class="casa" src="{{ url_for('static', filename='img/iconoCasa.png') }}">
            </div>
      </div>
  
      <div class="rectangulo3"> 
       <div class="personasTexto"> <p>Somos un refugio de animales, que tiene como objetivo rescatar, rehabilitar y luego dar en adopción aquellos perros y gatos abandonados o maltratados.</p>
       </div>
        
        <div class="cruzTexto"> <p>Brindamos lugares seguros y salubres para los perros y gatos abandonados.</p>
       </div>
        
        <div class="cruzTexto">  <p>Buscamos las mejores alternativas para que los animales se sientan como en su hogar y tengan una familia que los ame, los cuide y juege con ellos.</p>
        </div>
      </div>
    </div>
  {% endblock content %}
</body>



 