<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOSTRAR PERFILES GATOS</title>
  <script src="/static/scripts/main.js">
</script>
</head>

<body>
  <h1>Perfiles Gatos</h1>
  <ol>
    {% for linea in range (largo) %}
      <li>{{ gatos[linea] }}  </li><br/>
    {% endfor %}
  </ol>
  <ol>
    {% for linea in range (largo) %}
      <li><img src={{imagenGatos[linea]}} alt="Imagen">
      <img src = "{{ url_for(imagenGatos[linea])}}"></li><br/>
    {% endfor %}
  </ol>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
</body>