<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FORMULARIO</title>
  <script src="/static/scripts/main.js">
</script>
</head>

<body>
  <h1>ADMINISTRADOR</h1>
  <form action="{{url_for('refugio')}}" method="POST">

    <label for="usuario"> Usuario: </label>
    <input type="text" id="usuario" name="usuario" placeholder="Nombre del refugio" /><br>
    
    <label for="password"> Contraseña: </label> 
    <input type="password" id="password" name="password" placeholder="********"/><br>
    
    <input type="button" id="send-signup" value="Ingresar" onclick="formularioRefugio()"/>

  </form>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
</body>